.navbar {
  background-color: rgba(0, 0, 0, 0.33);
  color: #FFF;
  z-index: 50;
  margin: 0;
  transition: .4s;
  position: fixed;
  width: 100%;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar .navbar-brand {
  padding: 18px 0px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

a, a:hover {
  text-decoration: none;
}

.navbar .navbar-nav>li>a {
  color: #ECECEC;
  text-transform: uppercase;
  padding: 25px 15px;
  font-weight: 700;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s ease;
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:active {
  background-color: inherit !important;
  color: #f9c56a;
}

.login-button {
  border: none;
  background: none;
  color: white;
  text-transform: uppercase;
  padding: 25px 15px;
  font-weight: 700;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s ease;
}

.login-button:hover {
  background-color: inherit !important;
  color: #f9c56a;
}
